<div class="col-md-6">
    <form action="blogs" method="POST">
        <div>
            <input type="text" class="form-control" placeholder="title" />
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>